.output_squares {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

table {
    border-spacing: 5px 5px;
}

td {
    border: 2px solid rgb(168, 167, 167);
    width: 55px;
    height: 45px;
    color: white;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000;
    background-color: #6b6a6a;
}

.row_one {
    text-align: center;
    font-size: 25px;
}

.row_two {
    text-align: center;
    font-size: 25px;
}

.row_three {
    text-align: center;
    font-size: 25px;
}

.row_four {
    text-align: center;
    font-size: 25px;
}

.row_five {
    text-align: center;
    font-size: 25px;
}