.output_squares {
    display: flex;
    justify-content: center;
}

table {
    border-spacing: 5px 5px;
}

td {
    border: 2px solid black;
    width: 55px;
    height: 45px;
}

.row_one {
    text-align: center;
    font-size: 25px;
}

.row_two {
    text-align: center;
    font-size: 25px;
}

.row_three {
    text-align: center;
    font-size: 25px;
}

.row_four {
    text-align: center;
    font-size: 25px;
}

.row_five {
    text-align: center;
    font-size: 25px;
}