@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.output_squares {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 5px 5px;
}

td {
  border: 2px solid black;
  width: 55px;
  height: 45px;
}

.row_one {
  text-align: center;
  font-size: 25px;
}

.row_two {
  text-align: center;
  font-size: 25px;
}

.row_three {
  text-align: center;
  font-size: 25px;
}

.row_four {
  text-align: center;
  font-size: 25px;
}

.row_five {
  text-align: center;
  font-size: 25px;
}

.letter {
  width: 50px;
  height: 35px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winner {
  display: flex;
  justify-content: center;
}

.start_new {
  display: flex;
  justify-content: center;
}