@use 'guessing-squares';
@use 'buttons';
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Bree Serif", "sans-serif";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.winner {
    display: flex;
    justify-content: center;
}

.start_new {
    display: flex;
    justify-content: center;
}