@use 'guessing-squares';
@use 'buttons';
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Bree Serif", "sans-serif";
    
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000;


}

.card {
    border: 2px solid white;
    height: 50vh;
    background-color: rgb(58, 57, 57);
    padding: 10px;
    h2 {
        font-size: 20px;
        display: flex;
        justify-content: center;
        color: white;
        text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000;
        margin-bottom: 5px;
        
    }
     p{
        text-align: center;
        color: white;
        text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000;
        font-size: 15px;
     }

     .close_div {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .close_button {
        height: 50px;
        width: 120px;
        color: white;
        text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000;
        background-color: rgb(98, 97, 97);
        border-radius: 10px;
        border: 2px solid white;
        font-size: 15px;
    }
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(./images/game-background.jpg);
}

.winner {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.p_winner {
    text-align: center;
    color: white;
	font-size: 20px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.p_wrong {
    text-align: center;
    color: white;
	font-size: 20px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}


.start_new {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    
}

.new_game {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(58, 57, 57);
    color: white;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000;
    border: 2px solid white;
    font-size: 14px;
}


// @media screen and (min-width: 992px) {

//     .card {
//         width: 35vw ;
//         height: 50vh;
//         margin: 0 auto;

//         p{
//         font-size: 20px;
//         }
//     }

//     .letter {
//         width: 40px;
//         height: 60px;
//     }

//     .enter {
//         width: 60px;
//         height: 60px;
//     }
  
//     .backspace {
//         width: 60px;
//         height: 60px;
//     }

//     .input_buttons {
//         margin-top: 50px;
//     }

//     .start_new {
//         margin-top: 30px;
//     }
// }

@media screen and (min-width: 600px) {

    .card {
        width: 35vw;
        height: 50vh;
        margin: 0 auto;

        p   {
            font-size: 16px;
            }
        
    }

    button:hover {
        box-shadow: 0 0.5em 0.5em -0.4em !important;
        transform: translateY(-0.25em) !important;
        cursor: pointer;
    }

    .letter {
        width: 35px;
        height: 54px;
    }

    .enter {
        width: 54px;
        height: 54px;
    }
  
    .backspace {
        width: 54px;
        height: 54px;
    }
}

@media screen and (max-width: 376px){

    .card {
        width: 90vw;
        height: 50vh;
        margin: 0 auto;

        h2 {
            font-size: 15px;
        }
        p   {
            font-size: 10px;
            }
        
    }

    .letter {
                width: 2rem;
                height: 40px;
            }
        
            .enter {
                width: 3rem;
                height: 50px;
                font-size: 10px;
            }
          
            .backspace {
                width: 35px;
                height: 50px;
            }

}

@media screen and (max-width: 300px){

    .card {
        width: 90vw;
        height: 50vh;
        margin: 0 auto;

        h2 {
            font-size: 15px;
        }
        p   {
            font-size: 10px;
            }
        
    }

    .letter {
                width: 1.5rem;
                height: 40px;
            }
        
            .enter {
                width: 3rem;
                height: 50px;
                font-size: 10px;
            }
          
            .backspace {
                width: 35px;
                height: 50px;
            }

}
